# https://github.com/github/gitignore/blob/master/Python.gitignore

__pycache__/

.idea/

# Ignored extensions
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)

# files
*.pickle

# compiled file/folders
_build/
docs/design.txt